body {
  background: repeating-linear-gradient(purple,hotpink,purple);
  height: 1200px;
  text-align: center;
}
header {
  display: flex;
  padding: 20px;
  align-items: center;
  text-align: right;
  background-color: palevioletred;
  border: 2px solid black;
  gap: 30px;
  margin: 0;
}
.enllaços a {
  margin-left: 20px;
  text-align: right;
  text-decoration: none;
  color: black;
  font-size: 20px;
}